<div class="container">
	<div class="span-24">
		<div class="span-20">
			<h1 class="loud">
				A Single Link
			</h1>
			 <h4 class="alt">Reasonable discussions.</h4>
		</div>
		<div class="span-4 last">
			<div class="box">
				<a href="/auth/facebook">Login</a>
			</div>
		</div>
		
	</div>
	<hr />
	<div class="span-20">
		<div class="box">
			<span class="quiet">
			Main content goes here
			</span>
		</div>
	</div>
	<div class="span-4 last">
		<div class="box">
			right sidebar
		</div>
	</div>	
</div>
